# Dependencies
/node_modules

# Production
/build

# Miscellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase

# Environment variables
.env
.env.local

# Sensitive configuration
public/config.js
