# Dependencies
/node_modules
/functions/node_modules

# Build output
/dist
/build
/functions/lib

# Firebase
.firebase/
.firebaserc
firebase-debug.log

# Secrets
*.env
.env.*
!/.env.example

# Sensitive Files - Contains Firebase project keys
src/firebase.ts

# IDE & OS files
.DS_Store
.vscode/
